Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

In [1]:
# (i) variable containing string
name="Ashu"
# (ii) variable containing list
lst=[2,4.5432,3+3j,"kya haal"]
# (iii) variable containing float 
floatno= 69.69
# (iv) variale containig tuple
tple=(2,53.32,"Data science")

print(name)
print(lst)
print(floatno)
print(tple)

Ashu
[2, 4.5432, (3+3j), 'kya haal']
69.69
(2, 53.32, 'Data science')

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.
What will be the data type of the above given variable.

In [2]:
 var1 = ''

 var2 = '[ DS , ML , Python]'

 var3 = [ 'DS','ML','Python']

 var4 = 1
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

In [3]:
# '/' is used for division operation of two variable.eg:
a=10
b=2
print(a/b)

#'%' is used to find the reminder after the division of two variable.eg:
print(a%b)

#'//' is used to divide the two number and round the result to the nearest whole number.eg:
c=3
print(a//c)

#'**' is used to perform power operations like a^b i.e a to the power b.eg:
print(b**c)

5.0
0
3
8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [4]:
lst=[1,43.23,5654,3+5j,"ashu","Bharat mata ki jai",True]
print(type(lst))
for i in lst:
    print(i)

<class 'list'>
1
43.23
5654
(3+5j)
ashu
Bharat mata ki jai
True

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [6]:
a=int(input())
b=int(input())
count=0
while a/b:
    if a%b==0:
        print(a,"is purely divisible by",b)
        count+=1
        print(count)
    a/=b

 20
 2

20 is purely divisible by 2
1
10.0 is purely divisible by 2
2

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [7]:
lst=[]
for i in range(1,25):
    lst.append(i)
print(lst)

for i in lst:
    if (i%3==0):
        print (i)
        print("it is divisible by 3")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
3
it is divisible by 3
6
it is divisible by 3
9
it is divisible by 3
12
it is divisible by 3
15
it is divisible by 3
18
it is divisible by 3
21
it is divisible by 3
24
it is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [8]:
# immutable objects - it does not support assignment on a particular object and if do so then it will give us an error.
s ="India"
s[2]="s"
# mutable objects-it support assignment on a particular object .
lst=[3,54.64,True,"India",3+4j]
lst[2]=45
print(lst)

TypeError: 'str' object does not support item assignment

In [ ]:
# Create your assignment in Jupyter notebook and upload it to GitHub & share that github repository link through your dashboard. Make sure the repository is public.