### Q1. What is a database? Differentiate between SQL and NoSQL databases.

#### A database is an organized collection of data, so that it can be easily accessed and managed.
#### SQL-
##### These databases have fixed or static or predefined schema
##### These databases are not suited for hierarchical data storage.
##### These databases are best suited for complex queries
##### Vertically Scalable
##### Follows ACID property
##### Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc

#### NoSQL-
##### They have a dynamic schema
##### These databases are best suited for hierarchical data storage.
##### These databases are not so good for complex queries
##### Horizontally scalable
##### Follows CAP(consistency, availability, partition tolerance)
##### Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

### 2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#### A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database. These database objects include views, schemas, tables, indexes, etc.
#### CREATE-
##### CREATE is a DDL command used to create databases, tables, triggers and other database objects.

In [ ]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
cursor= mydb.cursor()

#creating a database
cursor.execute("CREATE DATABASE IF NOT EXISTS ds_blogs")

cursor.execute("CREATE TABLE IF NOT EXISTS posts")

cursor.execute('''
    INSERT INTO posts (post_id, author_id, post_first_published_on, num_likes, num_dislikes, num_comments)
    VALUES
        (1, 1, '2023-06-01', 10, 2, 5),
        (2, 2, '2023-06-02', 8, 1, 3),
        (3, 3, '2023-06-03', 12, 0, 7)''')

#### DROP-
##### The DROP DATABASE command is used is to delete an existing SQL database.
#### ALTER-
##### The ALTER command in SQL is used to make changes to a table, view, or the entire database.

In [ ]:
ALTER TABLE posts
DROP COLUMN num_likes ;

#### TRUNCATE-
##### The truncate query is used to remove the record from the tables. But, in some situations, the truncate query cannot change data records.

In [ ]:
truncate table customer_data ;

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

#### A DML (data manipulation language) refers to a computer programming language that allows you to add (insert), delete (delete), and alter (update) data in a database.
#### INSERT-
##### The SQL INSERT INTO Statement is used to add new rows of data to a table in the database.

In [ ]:
INSERT INTO TABLE_NAME (column1, column2, column3,...columnN)  
VALUES (value1, value2, value3,...valueN)

#### UPDATE-
##### The SQL UPDATE Query is used to modify the existing records in a table. This statement is a part of Data Manipulation Language, as it only modifies the data present in a table without affecting the table's structure.

In [ ]:
UPDATE table_name
SET column1 = value1, column2 = value2...., columnN = valueN
WHERE [condition];

#### DELETE-
##### The SQL DELETE Query is used to delete the existing records from a table. DELETE statement can be used to delete multiple rows of a single table and records across multiple tables. In order to filter the records to be deleted.

In [ ]:
DELETE FROM table_name
WHERE [condition];

### Q4. What is DQL? Explain SELECT with an example.

#### It is a component of SQL statement that allows getting data from the database and imposing order upon it OR DQL statements are used for performing queries on the data within schema objects.
#### Select command is used to fetch the data in a set of records from a table, view or a group of tables, views by making use of SQL joins.

In [ ]:
create table ds_blogs.student(name char(30), regno number(10), branch char(20), age char(10));
insert into student values(‘hari’,100,’CSE’, 15);
insert into student values(‘pinky’,101,’CSE’,17);
insert into student values(‘bob’,102,’CSE’,14);
insert into student values(‘bhanu’,103,’CSE’,18);
Select * from student;

### Q5. Explain Primary Key and Foreign Key.

#### Primary key is an attribute which uniquely identify the rows in the data, it can't be duplicate i.e it is unique and it can't be none.
#### A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

#### Cursor is a Temporary Work Station. It is Allocated by Database Server at the Time of Performing DML(Data Manipulation Language) operations on the Table by the User.
#### EXECUTE command in standard SQL is used to execute stored procedures and query strings in database servers

In [ ]:
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
cursor= mydb.cursor()

### Q7. Give the order of execution of SQL clauses in an SQL query.

#### 1. FROM and JOINs 
#### 2. WHERE
#### 3. GROUP BY
#### 4. HAVING
#### 5. SELECT
#### 6. DISTINCT
#### 7. ORDER BY
#### 8. LIMIT / OFFSET

##### READ about all of them