# Pandas Basics Assignment

## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [ ]:
import pandas as pd

# Q1
series1 = pd.Series([4, 8, 15, 16, 23, 42])
print(series1)

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable. Print it.

In [ ]:
# Q2
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series2 = pd.Series(my_list)
print(series2)

## Q3. Create a Pandas DataFrame that contains the following data:
# Name , Age, Gender
# Alice, 25, Female
# Bob, 30, Male
# Claire, 27, Female
# Then, print the DataFrame.

In [ ]:
# Q3
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)
print(df)

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.Series? Explain with an example.

A **DataFrame** in pandas is a 2-dimensional labeled data structure with columns of potentially different types, similar to a spreadsheet or SQL table. A **Series** is a 1-dimensional labeled array.

**Example:**
- A Series can represent a single column of data (like a list).
- A DataFrame can represent a table with multiple columns.

```python
# Series example
s = pd.Series([10, 20, 30])
# DataFrame example
df = pd.DataFrame({'A': [10, 20, 30], 'B': [40, 50, 60]})
```

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Some common functions:
- `head()`, `tail()`: View the first/last rows
- `describe()`: Get summary statistics
- `sort_values()`: Sort by column values
- `groupby()`: Group data for aggregation
- `drop()`: Remove rows or columns
- `fillna()`: Fill missing values

**Example:**
You might use `groupby()` to calculate the average age by gender:

```python
df.groupby('Gender')['Age'].mean()
```

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

All three (Series, DataFrame, Panel) are mutable in pandas. However, Panel is deprecated in recent versions of pandas.

## Q7. Create a DataFrame using multiple Series. Explain with an example.

In [ ]:
# Q7
import pandas as pd

names = pd.Series(['Tom', 'Jerry', 'Spike'])
ages = pd.Series([5, 3, 7])
genders = pd.Series(['Male', 'Male', 'Male'])

df2 = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': genders})
print(df2)

**Explanation:**
Each Series represents a column. By combining them in a dictionary, we create a DataFrame where each Series becomes a column in the table.